@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.parallax{
  background: url(bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
}
.colorP{
  color: #F4F4F4;
}
.colorS{
  color: #FE4641
}
.textocentrado{
 display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}
.subtiulo{
font-size: 20px;
}
.contacto{
  background: url(bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: ;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}
.Quiensoy{
  width: 100%;
  height: 100vh;
  background-color: #141414;
  font-family:'Oswald', sans-serif;
}
.container_menu{
  background-color: #080808;
  font-family:'Oswald', sans-serif;
}
.colorB{
  color: rgb(227, 227, 227);
}
.img-top{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width:300px;
  height: 300px;
  border-color: #363636;
}
.img-bot{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width:64px;
  height: 64px;
  border-color: #363636;
  margin: auto;
}
.nombre{
    font-family:'Oswald', sans-serif;
    font-size:24px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    opacity: 1;
    color: rgb(227, 227, 227);
}
.Metodo{
  background-color: #141414;
  font-family:'Oswald', sans-serif
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: #232529;
}
.card img{
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
  height:200px;
  width: 200px;
}
.title{
    color: grey;
    font-size: 16px;
}
.titulo{
  text-transform: uppercase;
}
.Tequipo{
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 20px;

}